.w3-win-phone-lime
{color:#fff;background-color:#a4c400}
.w3-win-phone-green
{color:#fff;background-color:#60a917}
.w3-win-phone-emerald
{color:#fff;background-color:#008a00}
.w3-win-phone-teal
{color:#fff;background-color:#00aba9}
.w3-win-phone-cyan
{color:#fff;background-color:#1ba1e2}
.w3-win-phone-blue
{color:#fff;background-color:#3e65ff}
.w3-win-phone-cobalt
{color:#fff;background-color:#0050ef}
.w3-win-phone-indigo
{color:#fff;background-color:#6a00ff}
.w3-win-phone-violet
{color:#fff;background-color:#aa00ff}
.w3-win-phone-pink
{color:#fff;background-color:#f472d0}
.w3-win-phone-magenta
{color:#fff;background-color:#d80073}
.w3-win-phone-crimson
{color:#fff;background-color:#a20025}
.w3-win-phone-red
{color:#fff;background-color:#e51400}
.w3-win-phone-orange
{color:#fff;background-color:#fa6800}
.w3-win-phone-amber
{color:#fff;background-color:#f0a30a}
.w3-win-phone-yellow
{color:#fff;background-color:#e3c800}
.w3-win-phone-brown
{color:#fff;background-color:#825a2c}
.w3-win-phone-olive
{color:#fff;background-color:#6d8764}
.w3-win-phone-steel
{color:#fff;background-color:#647687}
.w3-win-phone-mauve
{color:#fff;background-color:#76608a}
.w3-win-phone-taupe
{color:#fff;background-color:#87794e}
.w3-win-phone-sienna
{color:#fff;background-color:#a0522d}

.w3-win-metro-light-green
{color:#fff;background-color:#99b433}
.w3-win-metro-green
{color:#fff;background-color:#00a300}
.w3-win-metro-dark-green
{color:#fff;background-color:#1e7145}
.w3-win-metro-magenta
{color:#fff;background-color:#ff0097}
.w3-win-metro-light-purple
{color:#fff;background-color:#9f00a7}
.w3-win-metro-purple
{color:#fff;background-color:#7e3878}
.w3-win-metro-dark-purple
{color:#fff;background-color:#603cba}
.w3-win-metro-darken
{color:#fff;background-color:#1d1d1d}
.w3-win-metro-teal
{color:#fff;background-color:#00aba9}
.w3-win-metro-light-blue
{color:#000;background-color:#eff4ff}
.w3-win-metro-blue
{color:#fff;background-color:#2d89ef}
.w3-win-metro-dark-blue
{color:#fff;background-color:#2b5797}
.w3-win-metro-yellow
{color:#fff;background-color:#ffc40d}
.w3-win-metro-orange
{color:#fff;background-color:#e3a21a}
.w3-win-metro-dark-orange
{color:#fff;background-color:#da532c}
.w3-win-metro-red
{color:#fff;background-color:#ee1111}
.w3-win-metro-dark-red
{color:#fff;background-color:#b91d47}
.w3-text-win-metro-dark-blue,.w3-hover-text-win-metro-dark-blue:hover{color:#2b5797!important}